# REQUIRED: Change these fields for your deployment
ELASTIC_PASSWORD=CHANGEME
KIBANA_PASSWORD=CHANGEMETOO
# Change this to a random 32 length alphanumeric string
KIBANA_ENCRYPTION_KEY=CHANGEMETO32LENGTHSTRING

# Elastic server settings
ELASTIC_HOST=https://elasticsearch:9200
ELASTIC_INDEX=perfsonar-lookup
ELASTIC_VERSION=8.15.3
ELASTIC_USER=elastic
ELASTIC_VERIFY_CERTS=false
ELASTIC_CA_CERT=/usr/share/elasticsearch/config/certs/ca/ca.crt
## Increase or decrease based on the available host memory (in bytes)
ELASTIC_MEM_LIMIT=1073741824
KIBANA_MEM_LIMIT=1073741824
